<div *ngIf="!loaded" class="text-center mt-5">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="p-4">

  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createTodoModal">
    <i class="fas fa-fw fa-plus"></i><span class="ms-1">New</span>
  </button>

  <app-create-todo-modal (createTodoEvent)="onTodoCreated($event)"></app-create-todo-modal>

  <app-edit-todo-modal [todoToEdit]="todoToUpdate" (updateTodoEvent)="onUpdateTodo($event)"></app-edit-todo-modal>

  <table *ngIf="loaded" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Created</th>
      <th scope="col">Last Updated</th>
      <th scope="col">Due</th>
      <th scope="col">State</th>
      <th scope="col">Priority</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let todo of todos"
      style="cursor: pointer"
    >
      <th scope="row">{{todo.id}}</th>
      <td>{{todo.title}}</td>
      <td>{{todo.created | date: 'medium'}}</td>
      <td>{{todo.lastUpdated | date: 'medium'}}</td>
      <td>{{todo.dueDate | date: 'medium'}}</td>
      <td>
      <span [ngClass]="{
          'bg-success': todo.state === 'DONE',
          'bg-secondary': todo.state === 'DEFERRED',
          'bg-info': todo.state === 'TO DO',
          'bg-primary': todo.state === 'IN PROGRESS'
          }" class="badge">
          {{todo.state}}
      </span>
      </td>
      <td>
      <span [ngClass]="{
    'bg-danger': todo.priority === 'HIGH',
    'bg-warning': todo.priority === 'MEDIUM',
    'bg-success': todo.priority === 'LOW'
    }" class="badge">
        {{todo.priority}}
      </span>
      </td>
      <td>
        <div class="btn-group btn-group-sm" role="group">
          <button
            type="button"
            class="btn btn-outline-primary"
            data-bs-toggle="modal"
            data-bs-target="#editTodoModal"
            (click)="todoToUpdate = todo"
          >
            <i class="fas fa-pen fa-fw"></i>
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteTodoById(todo.id)">
            <i class="fas fa-trash fa-fw"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
