<div *ngIf="!loaded" class="text-center mt-5">
  <div class="spinner-border" style="width: 10rem; height: 10rem"></div>
</div>

<div *ngIf="loaded" class="w-100 h-100 overflow-auto p-2 p-lg-4">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-dark mb-3" (click)="createTodo()">
        <em class="fas fa-fw fa-plus"></em><span class="ms-2">New</span>
      </button>
    </div>
    <div class="col text-end">
      <div class="btn-toolbar d-inline">
        <div class="btn-group btn-group-sm me-4">
          <input type="checkbox" class="btn-check" id="btnradio1" autocomplete="off" checked
                 (change)="onStateCheckboxChanged($event, 'TO DO')"
          ><label class="btn btn-outline-info" for="btnradio1">TO DO</label>

          <input type="checkbox" class="btn-check" id="btnradio2" autocomplete="off" checked
                 (change)="onStateCheckboxChanged($event, 'IN PROGRESS')"
          ><label class="btn btn-outline-primary" for="btnradio2">IN PROGRESS</label>

          <input type="checkbox" class="btn-check" id="btnradio3" autocomplete="off" checked
                 (change)="onStateCheckboxChanged($event, 'DONE')"
          ><label class="btn btn-outline-success" for="btnradio3">DONE</label>

          <input type="checkbox" class="btn-check" id="btnradio4" autocomplete="off" checked
                 (change)="onStateCheckboxChanged($event, 'DEFERRED')"
          ><label class="btn btn-outline-secondary" for="btnradio4">DEFERRED</label>
        </div>
        <div class="btn-group btn-group-sm">
          <input type="checkbox" class="btn-check" id="btnradio5" autocomplete="off" checked
                 (change)="onPriorityCheckboxChanged($event, 'LOW')"
          ><label class="btn btn-outline-success" for="btnradio5">LOW</label>

          <input type="checkbox" class="btn-check" id="btnradio6" autocomplete="off" checked
                 (change)="onPriorityCheckboxChanged($event, 'MEDIUM')"
          ><label class="btn btn-outline-warning" for="btnradio6">MEDIUM</label>

          <input type="checkbox" class="btn-check" id="btnradio7" autocomplete="off" checked
                 (change)="onPriorityCheckboxChanged($event, 'HIGH')"
          ><label class="btn btn-outline-danger" for="btnradio7">HIGH</label>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive-lg">
    <table class="table table-striped" aria-label="Todo table">
      <thead>
      <tr>
        <th class="d-none d-md-table-cell" scope="col">
          Id
          <em
            class="invisible fas fa-fw fa-sm text-light-hover text-secondary fa-arrow-up"
            style="cursor: pointer"
            (click)="sortByField('id')"
          ></em>
          <em
            class="invisible fas fa-fw fa-sm text-light-hover text-secondary fa-arrow-down"
            style="cursor: pointer"
            (click)="sortByField('id', false)"
          ></em>
        </th>
        <th scope="col">Title</th>
        <th class="d-none d-lg-table-cell" scope="col" style="cursor: pointer">
          Created
          <em
            class="invisible fas fa-fw fa-sm text-light-hover text-secondary fa-arrow-up"
            style="cursor: pointer"
            (click)="sortByField('created')"
          ></em>
          <em
            class="invisible fas fa-fw fa-sm text-light-hover text-secondary fa-arrow-down"
            style="cursor: pointer"
            (click)="sortByField('created', false)"
          ></em>
        </th>
        <th class="d-none d-lg-table-cell" scope="col" style="cursor: pointer">
          Last Updated
          <em
            class="invisible fas fa-fw fa-sm text-light-hover text-secondary fa-arrow-up"
            style="cursor: pointer"
            (click)="sortByField('lastUpdated')"
          ></em>
          <em
            class="invisible fas fa-fw fa-sm text-light-hover text-secondary fa-arrow-down"
            style="cursor: pointer"
            (click)="sortByField('lastUpdated', false)"
          ></em>
        </th>
        <th class="d-none d-lg-table-cell" scope="col" style="cursor: pointer">
          Due
          <em
            class="invisible fas fa-fw fa-sm text-light-hover text-secondary fa-arrow-up"
            style="cursor: pointer"
            (click)="sortByField('dueDate')"
          ></em>
          <em
            class="invisible fas fa-fw fa-sm text-light-hover text-secondary fa-arrow-down"
            style="cursor: pointer"
            (click)="sortByField('dueDate', false)"
          ></em>
        </th>
        <th scope="col">State</th>
        <th scope="col">Priority</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let todo of todos | stateFilter: stateFilterValues | priorityFilter: priorityFilterValues | tableColumnSort: sortField: sortAsc"
        style="cursor: pointer">
        <th class="d-none d-md-table-cell" scope="row">{{todo.id | number: '2.0-0'}}</th>
        <td style="max-width: 200px" class="text-ellip">{{todo.title}}</td>
        <td class="d-none d-lg-table-cell">{{todo.created | date: 'fullDate'}}</td>
        <td class="d-none d-lg-table-cell">{{todo.lastUpdated | date: 'fullDate'}}</td>
        <td class="d-none d-lg-table-cell">
          {{todo.dueDate | date: 'fullDate'}}
          <em *ngIf="dueToday(todo.dueDate)" tooltip="Due today" tooltip-pos="top-right"
              class="fas fa-fw fa-exclamation text-danger"></em>
          <em *ngIf="expired(todo.dueDate)" [attr.tooltip]="'Expired at: ' + toUTCString(todo.dueDate)"
              tooltip-pos="top-right"
              class="fas fa-fw fa-clock text-secondary"></em>
        </td>
        <td>
        <span [ngClass]="{
            'bg-success': todo.state === 'DONE',
            'bg-secondary': todo.state === 'DEFERRED',
            'bg-info': todo.state === 'TO DO',
            'bg-primary': todo.state === 'IN PROGRESS'
            }" class="badge">
            {{todo.state}}
        </span>
        </td>
        <td>
        <span [ngClass]="{
      'bg-danger': todo.priority === 'HIGH',
      'bg-warning': todo.priority === 'MEDIUM',
      'bg-success': todo.priority === 'LOW'
      }" class="badge">
          {{todo.priority}}
        </span>
        </td>
        <td>
          <div class="btn-group btn-group-sm ">
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="editTodo(todo.id)"
            >
              <em class="fas fa-pen fa-fw align-middle me-1"></em>
              Edit
            </button>
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="deleteTodoById(todo.id)"
            >
              <em class="fas fa-trash fa-fw align-middle me-1"></em>
              Delete
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
