<nav class="navbar navbar-dark bg-dark p-0" style="height: 50px">
  <div class="container-fluid px-1">
    <button class="navbar-toggler m-1" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar"
            aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand me-auto" href="#">
      <img src="favicon.ico" alt="" width="30" height="30" class="d-inline-block align-top">
      Navbar
    </a>
  </div>
</nav>
