<nav class="navbar navbar-dark bg-dark p-0" style="height: 50px">
  <div class="container-fluid px-1">
    <button
      class="navbar-toggler m-1"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebar"
      aria-controls="sidebar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-fw fa-bars"></i>
    </button>
    <a class="navbar-brand mx-4 fst-italic" href="#">
      <img src="assets/kiwi-bird-solid.svg" alt="kiwi logo" width="30" height="30"
           class="d-inline-block img-thumbnail align-top">
      kiwi
    </a>
    <div class="dropdown me-2">
      <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">Projects
      </button>
      <ul class="dropdown-menu">
        <li><span class="dropdown-item-text"><strong>Projects</strong></span></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">All</a></li>
        <li><a class="dropdown-item" href="#">Recent</a></li>
        <li><a class="dropdown-item" href="#">Favorite</a></li>
      </ul>
    </div>
    <div class="dropdown me-2">
      <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">Tasks
      </button>
      <ul class="dropdown-menu">
        <li><span class="dropdown-item-text"><strong>Tasks</strong></span></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">All</a></li>
        <li><a class="dropdown-item" href="#">Recent</a></li>
        <li><a class="dropdown-item" href="#">Favorite</a></li>
      </ul>
    </div>
    <div class="dropdown me-auto">
      <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">More
      </button>
      <ul class="dropdown-menu">
        <li><span class="dropdown-item-text"><strong>More</strong></span></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Layout</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-dark btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
              aria-expanded="false">Info
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        <li><span class="dropdown-item-text"><strong>Info</strong></span></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</nav>
