.ql-toolbar {
  background-color: whitesmoke;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.ql-container {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
