<div class="h-100">
  <form
    [formGroup]="editTodoFormGroup"
    novalidate
    (ngSubmit)="onSubmit()"
  >

    <div class="modal-header text-light p-2">
      <h5>Edit Todo</h5>
    </div>

    <div class="container p-2">

      <div formGroupName="editTodoPayload">
        <div class="mb-3">
          <div class="row m-0">
            <p class="col p-0 bg-dark text-light m-1 text-start">Title:</p>
            <div class="col p-0 text-end">
              <i class="align-middle fas fa-sm text-light fa-fw fa-pen" style="cursor: pointer"
                 (click)="inputTitle.disabled = false; inputTitle.focus()"
              ></i>
            </div>
          </div>
          <input
            #inputTitle
            type="text"
            class="form-control"
            aria-label="title"
            formControlName="title"
            disabled
          >
        </div>

        <div class="mb-3">
          <div class="row m-0">
            <p class="col p-0 bg-dark text-light m-1 text-start">Title:</p>
            <div class="col p-0 text-end">
              <i class="align-middle fas fa-sm text-light fa-fw fa-pen" style="cursor: pointer"
                 (click)="editorDesc.setDisabledState(false); editorDesc.editorElem.focus()"
              ></i>
            </div>
          </div>
          <quill-editor
            #editorDesc
            formControlName="description"
            [styles]="editorStyle"
            [modules]="editorConfig"
            placeholder="Enter some text..."
            theme="snow"
            (onEditorCreated)="editorDesc.setDisabledState(true)"
          ></quill-editor>
        </div>

        <div class="mb-3">
          <div class="row m-0">
            <p class="col p-0 bg-dark text-light m-1 text-start">Priority:</p>
            <div class="col p-0 text-end">
              <i class="align-middle fas fa-sm text-light fa-fw fa-pen" style="cursor: pointer"
                 (click)="selectPriority.disabled = false; selectPriority.focus()"
              ></i>
            </div>
          </div>
          <select
            #selectPriority
            class="form-select"
            aria-label="priority"
            formControlName="priority"
            disabled
          >
            <option value="LOW">LOW</option>
            <option value="MEDIUM">MEDIUM</option>
            <option value="HIGH">HIGH</option>
          </select>
        </div>

        <div class="mb-3">
          <div class="row m-0">
            <p class="col p-0 bg-dark text-light m-1 text-start">Due:</p>
            <div class="col p-0 text-end">
              <i class="align-middle fas fa-sm text-light fa-fw fa-pen" style="cursor: pointer"
                 (click)="inputDue.disabled = false; inputDue.focus()"
              ></i>
            </div>
          </div>
          <input
            #inputDue
            type="datetime-local"
            class="form-control"
            aria-label="dueDate"
            formControlName="dueDate"
            disabled
          >
        </div>

        <div>
          <div class="row m-0">
            <p class="col p-0 bg-dark text-light m-1 text-start">State:</p>
            <div class="col p-0 text-end">
              <i class="align-middle fas fa-sm text-light fa-fw fa-pen" style="cursor: pointer"
                 (click)="selectState.disabled = false; selectState.focus()"
              ></i>
            </div>
          </div>
          <select
            #selectState
            class="form-select"
            aria-label="priority"
            formControlName="state"
            disabled
          >
            <option value="TO DO">TO DO</option>
            <option value="IN PROGRESS">IN PROGRESS</option>
            <option value="DONE">DONE</option>
            <option value="DEFERRED">DEFERRED</option>
          </select>
        </div>
      </div>
    </div>

    <div class="modal-footer p-2">
      <button type="button" class="btn btn-sm btn-outline-light">Cancel</button>
      <button type="submit" class="btn btn-sm btn-light">Submit</button>
    </div>

  </form>
</div>
