<div class="col p-2">
  <div class="card">
    <div class="card-header bg-dark text-light">
      {{title}}
      <div
        class="btn-group btn-group-sm position-absolute"
        style="right: 5px; top: 5px"
      >
        <button
          class="btn btn-outline-light {{type === 'pie' ? 'active' : ''}}"
          (click)="type = 'pie'"
        >
          <i class="fa fa-fw fa-chart-pie fa-lg"></i>
        </button>

        <button
          class="btn btn-outline-light {{type === 'bar' ? 'active' : ''}}"
          (click)="type = 'bar'"
        >
          <i class="fa fa-fw fa-chart-bar fa-lg"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <app-pie-chart
        *ngIf="type === 'pie'"
        [datasets]="datasets"
        [labels]="labels"
      ></app-pie-chart>

      <app-bar-chart
        *ngIf="type === 'bar'"
        [datasets]="datasets"
        [labels]="labels"
      ></app-bar-chart>
    </div>
  </div>
</div>
