<div class="container text-center mt-5">
  <div class="m-auto" style="width: 300px">

    <!--  todo:  *ngIf="!this.authService.isLoggedIn.value"-->

    <form
      [formGroup]="loginFormGroup"
      novalidate
      (ngSubmit)="onSubmit()"
    >
      <div formGroupName="loginPayload">
        <h1 class="h2 mb-4 fw-normal">Log In</h1>

        <div class="text-start">
          <div class="input-group has-validation mt-2">
            <span class="input-group-text"><i class="fas fa-user fa-fw"></i></span>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
              'is-invalid': (usernameFormControl.dirty || usernameFormControl.touched) && usernameFormControl.invalid,
              'is-valid': (usernameFormControl.dirty || usernameFormControl.touched) && !usernameFormControl.invalid
              }"
              placeholder="Username"
              aria-label="username"
              formControlName="username"
              required
            >
            <div
              *ngIf="usernameFormControl.invalid && (usernameFormControl.dirty || usernameFormControl.touched) && usernameFormControl.errors.required"
              class="invalid-feedback mb-0 mt-01">
              Username is required
            </div>
          </div>
        </div>

        <div class="text-start">
          <div class="input-group has-validation mt-2">
            <span class="input-group-text"><i class="fas fa-lock fa-fw"></i></span>
            <input
              type="password"
              class="form-control"
              [ngClass]="{
              'is-invalid': (passwordFormControl.dirty || passwordFormControl.touched) && passwordFormControl.invalid,
              'is-valid': (passwordFormControl.dirty || passwordFormControl.touched) && !passwordFormControl.invalid
              }"
              placeholder="Password"
              aria-label="password"
              formControlName="password"
              required
            >
            <div
              *ngIf="passwordFormControl.invalid && (passwordFormControl.dirty || passwordFormControl.touched) && passwordFormControl.errors.required"
              class="invalid-feedback mb-0 mt-01">
              Password is required
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-8">
            <button class="w-100 btn btn-primary" type="submit">Log In</button>
          </div>
          <div class="col-4">
            <button class="w-100 btn btn-outline-primary" [routerLink]="'/signup'" type="submit">Sign Up</button>
          </div>
        </div>

      </div>
    </form>

  </div>
</div>
