<div class="container text-center mt-5">
  <div class="m-auto" style="width: 300px">

    <!--    *ngIf="!this.authService.isLoggedIn.value"-->

    <form
      class="needs-validation"
      [ngClass]="{'was-validated': formError}"
      [formGroup]="loginFormGroup"
      novalidate
      (ngSubmit)="onSubmit()"
    >
      <div formGroupName="loginPayload">
        <h1 class="h2 mb-4 fw-normal">Log In</h1>

        <div class="text-start">
          <div class="input-group has-validation mt-2">
            <span class="input-group-text"><i class="fas fa-user fa-fw"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="username"
              formControlName="username"
              required
            >
            <div class="invalid-feedback mb-0 mt-01">Username is required</div>
          </div>
        </div>

        <div class="text-start">
          <div class="input-group has-validation mt-2">
            <span class="input-group-text"><i class="fas fa-lock fa-fw"></i></span>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              aria-label="password"
              formControlName="password"
              required
            >
            <p class="invalid-feedback mb-0 mt-01">Password is required</p>

          </div>
        </div>

        <button class="mt-4 w-100 btn btn-primary" type="submit">Log In</button>

      </div>
    </form>

  </div>
</div>
