<div
  id="col"
  class="bg-light col-11 col-md-6 col-lg-4 px-2 col-xxl-3 overflow-auto d-inline-block "
  [ngClass]="{ 'close-col': !open }">
  <!--  style="height: 100%; min-height: 500px"-->
  <!--&gt;-->
  <div
    class="row px-0 m-0 text-start"
    style="height: 50px"
    [ngClass]="{ 'rotated': !open }"
  >
    <div class="col-5 py-2 px-0 text-start">
      <button class="btn btn-sm btn-light me-2" (click)="open = !open">
        <i class="fas fa-fw fa-chevron-right align-middle"></i>
      </button>
      <span class="align-middle"><strong>{{title}}</strong></span>
    </div>
    <div class="col-7 py-2 px-0 text-end">
      <span class="align-middle">{{data.length}}</span>
      <button class="ms-2 btn btn-sm btn-light">
        <i class="fas fa-fw fa-plus align-middle"></i>
      </button>
    </div>
  </div>

  <hr class="mt-0 mb-3" [ngStyle]="{ 'visibility': open ? 'visible' : 'hidden' }">

  <div
    id="list-col"
    class="overflow-auto pe-2"
    style="height: calc(88vh - 80px); min-height: calc(500px - 80px)"
    [ngStyle]="{ 'visibility': open ? 'visible' : 'hidden' }"
    cdkDropList
    [cdkDropListData]="data"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div class="row mb-2 mx-0 px-0" *ngFor="let todo of data" cdkDragBoundary="#container" cdkDrag>
      <div class="card bg-dark p-0 text-light mx-auto" style="height: 120px">
        <div class="card-header" cdkDragHandle style="cursor: grabbing">
        <span
          [ngClass]="{
            'text-danger': todo.priority === 'HIGH',
            'text-warning': todo.priority === 'MEDIUM',
            'text-success': todo.priority === 'LOW'
          }"><i class="fas fa-fw fa-circle"></i>
        </span>
          <span class="ms-3">{{todo.title}}</span>
        </div>
        <div class="card-body overflow-auto p-0">
          <pre class="card-text text-secondary m-0 p-2" style="width: fit-content">{{todo.description}}</pre>
          <button
            class="btn btn-dark btn-sm position-absolute"
            style="top: 5px; right: 5px"
            data-bs-toggle="modal"
            data-bs-target="#editTodoModal">
            <!--          (click)="todoToUpdate = todo"-->
            <!--        >-->
            <i class="fas fa-fw fa-pen align-middle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
