<div
  id="col"
  class="col-11 col-md-6 col-lg-4 col-xxl-3 px-4 overflow-auto d-inline-block"
  style="height: 88vh"
  cdkDropList
  [cdkDropListData]="data"
  (cdkDropListDropped)="onDrop($event)"
>
  <h5 class="text-dark text-center">{{title}}</h5>

  <div class="row mb-2" *ngFor="let todo of data" cdkDragBoundary="#container" cdkDrag>
    <div class="card bg-dark p-0 text-light mx-auto" style="height: 120px">
      <div class="card-header" cdkDragHandle style="cursor: grabbing">
        <span
          [ngClass]="{
            'text-danger': todo.priority === 'HIGH',
            'text-warning': todo.priority === 'MEDIUM',
            'text-success': todo.priority === 'LOW'
          }"><i class="fas fa-fw fa-circle"></i>
        </span>
        <span class="ms-3">{{todo.title}}</span>
      </div>
      <div class="card-body overflow-auto pb-0">
        <pre class="card-text text-secondary">{{todo.description}}</pre>
        <button
          class="btn btn-dark btn-sm position-absolute"
          style="top: 5px; right: 5px"
          data-bs-toggle="modal"
          data-bs-target="#editTodoModal">
          <!--          (click)="todoToUpdate = todo"-->
          <!--        >-->
          <i class="fas fa-fw fa-pen"></i>
        </button>
      </div>
    </div>
  </div>
</div>
