<div *ngIf="!loaded" class="text-center mt-5" xmlns="http://www.w3.org/1999/html">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


<div *ngIf="loaded" class="pt-4 px-2 px-lg-4" id="container">

  <app-edit-todo-modal [todoToEdit]="todoToUpdate" (updateTodoEvent)="onUpdateTodo($event)"></app-edit-todo-modal>

  <div class="row d-block overflow-auto gx-0" cdkDropListGroup style="white-space: nowrap">

    <app-todo-state-column [title]="'To Do'" [data]="todosToDo"></app-todo-state-column>
    <app-todo-state-column [title]="'In Progress'" [data]="todosInProgress"></app-todo-state-column>
    <app-todo-state-column [title]="'Done'" [data]="todosDone"></app-todo-state-column>
    <app-todo-state-column [title]="'Deferred'" [data]="todosDeferred"></app-todo-state-column>

  </div>

</div>



