<div *ngIf="!loaded" class="text-center mt-5" xmlns="http://www.w3.org/1999/html">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="loaded" id="container" class="w-100 h-100 overflow-auto p-2 p-lg-4">
  <!--<div *ngIf="loaded" class="pt-4 px-2" id="container">-->

  <!--  <app-edit-todo-modal [todoToEdit]="todoToUpdate" (updateTodoEvent)="onUpdateTodo($event)"></app-edit-todo-modal>-->

  <div class="row h-100 d-block gx-0" cdkDropListGroup style="white-space: nowrap">

    <app-todo-state-column [title]="'To Do'" [data]="todosToDo" [label]="'TO DO'"></app-todo-state-column>
    <app-todo-state-column [title]="'In Progress'" [data]="todosInProgress"
                           [label]="'IN PROGRESS'"></app-todo-state-column>
    <app-todo-state-column [title]="'Done'" [data]="todosDone" [label]="'DONE'"></app-todo-state-column>
    <app-todo-state-column [title]="'Deferred'" [data]="todosDeferred" [label]="'DEFERRED'"></app-todo-state-column>

  </div>

</div>



