<div class="modal fade" id="editTodoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <form
        [formGroup]="editTodoFormGroup"
        novalidate
        (ngSubmit)="onSubmit()"
      >
        <div class="modal-header bg-dark text-light">
          <h5 class="modal-title" id="staticBackdropLabel">Edit Todo</h5>
          <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="container">

            <div formGroupName="editTodoPayload">
              <div class="input-group mb-2">
                <span class="input-group-text bg-dark text-light w-25">
                  Title
                </span>
                <input
                  type="text"
                  placeholder="e.g. Laundry"
                  class="form-control"
                  aria-label="title"
                  formControlName="title"
                >
              </div>

              <div class="input-group mb-2">
                <span class="input-group-text bg-dark text-light w-25">
                  Description
                </span>
                <textarea
                  rows="5"
                  placeholder="e.g. Do the laundry before husband is back!"
                  class="form-control"
                  aria-label="description"
                  formControlName="description"
                ></textarea>
              </div>

              <div class="input-group mb-2">
                <span class="input-group-text bg-dark text-light w-25">
                  Priority
                </span>
                <select
                  class="form-select"
                  aria-label="priority"
                  formControlName="priority"
                >
                  <option value="LOW">LOW</option>
                  <option value="MEDIUM">MEDIUM</option>
                  <option value="HIGH">HIGH</option>
                </select>
              </div>

              <div class="input-group mb-2">
                <span class="input-group-text bg-dark text-light w-25">
                  Due
                </span>
                <input
                  type="datetime-local"
                  class="form-control"
                  aria-label="dueDate"
                  formControlName="dueDate"
                >
              </div>

              <div class="input-group mb-2">
                <span class="input-group-text bg-dark text-light w-25">
                  State
                </span>
                <select
                  class="form-select"
                  aria-label="priority"
                  formControlName="state"
                >
                  <option value="TO DO">TO DO</option>
                  <option value="IN PROGRESS">IN PROGRESS</option>
                  <option value="DONE">DONE</option>
                  <option value="DEFERRED">DEFERRED</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>
