<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav class="col-md-2" mode="push" [opened]="opened" [autoFocus]="false">

    <mat-nav-list>

      <mat-list-item class="custom-list-item" [routerLink]="'/todo'" (click)="opened = false">
        <mat-icon>table_chart</mat-icon>
        <span class="ml-3 overflow-hidden">TODOs</span>
      </mat-list-item>

      <!--      <mat-list-item class="custom-list-item" [routerLink]="'/'">-->
      <!--        <mat-icon [matBadge]="'3'" matBadgeColor="warn">outbond</mat-icon>-->
      <!--        <span class="ml-3 overflow-hidden">Open positions</span>-->
      <!--      </mat-list-item>-->

      <!--      <mat-list-item class="custom-list-item" [routerLink]="'/'">-->
      <!--        <mat-icon [matBadge]="'22'" matBadgeColor="warn">gavel</mat-icon>-->
      <!--        <span class="ml-3 overflow-hidden">Closed positions</span>-->
      <!--      </mat-list-item>-->

    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 92vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
