#sidebar.collapse {
  position: relative;
  transition: all .3s ease-out;
  bottom: 0;
  left: -200px; /* -width of sidebar */
  width: 0;
  height: 100%;
  display: block;
}

#sidebar.collapsing {
  transition: all .3s ease;
  position: relative;
  bottom: 0;
  left: 0;
  width: 200px; /* width of sidebar */
  height: 100%;
  display: block;
}

#sidebar.collapse.show {
  left: 0;
  width: 200px; /* width of sidebar */
}

a {
  border: 5px solid transparent;
}

.nav-link {
  color: #ffffff8c;
}

.nav-link:hover {
  color: white;
}

a.active {
  border-left: 5px solid white;
  color: white;
}
