.fc-daygrid-day-number, .fc-daygrid-more-link {
  color: var(--bs-dark);
  text-decoration: none !important;
}

/*.fc-col-header-cell-cushion:hover,*/
/*.fc-timegrid-axis-cushion:hover,*/
/*.fc-daygrid-day-number:hover,*/
/*.fc-list-day-text:hover,*/
/*.fc-list-day-side-text:hover {*/
/*  color: gray;*/
/*  text-decoration: underline !important;*/
/*}*/

.fc-col-header-cell-cushion,
.fc-timegrid-axis-cushion,
.fc-list-day-text,
.fc-list-day-side-text {
  color: var(--bs-light);
  text-decoration: none !important;
}

.fc-scrollgrid th, .fc-scrollgrid td {
  /*border: 1px solid #212529 !important;*/
}

thead, .fc-list-day-cushion {
  background-color: var(--bs-dark) !important;
  color: var(--bs-light);
}

.fc-button {
  color: var(--bs-dark) !important;
  background-color: var(--bs-light) !important;
}

.fc-button-active, .fc-button:hover {
  color: var(--bs-light) !important;
  background-color: var(--bs-dark) !important;
}

.fc-day-today {
  background-color: lightseagreen !important;
}
