<div class="container text-center mt-5">
  <div class="m-auto" style="width: 300px">

    <!--  todo:  *ngIf="!this.authService.isLoggedIn.value"-->

    <form
      [formGroup]="signupFormGroup"
      novalidate
      (ngSubmit)="onSubmit()"
    >
      <div formGroupName="signupPayload">
        <img src="assets/kiwi-bird-solid.svg" width="100" class="mb-4">

        <h1 class="h2 mb-4 fw-normal">Sign Up</h1>

        <div class="text-start">
          <div class="input-group has-validation mt-2">
            <span class="input-group-text bg-dark text-light me-2"><i class="fas fa-user fa-fw"></i></span>
            <input
              autofocus
              type="text"
              class="form-control"
              [ngClass]="{
              'is-invalid': usernameFormControl.dirty && usernameFormControl.invalid,
              'is-valid': usernameFormControl.dirty && !usernameFormControl.invalid
              }"
              placeholder="Username"
              aria-label="username"
              formControlName="username"
              required
            >
            <div
              *ngIf="usernameFormControl.invalid && usernameFormControl.dirty && usernameFormControl.errors.required"
              class="invalid-feedback mb-0 mt-01">
              Username is required
            </div>
            <div
              *ngIf="usernameFormControl.invalid && usernameFormControl.dirty && usernameFormControl.errors.minlength"
              class="invalid-feedback mb-0 mt-01">
              Username must have at least 5 characters
            </div>
          </div>
        </div>

        <div class="text-start">
          <div class="input-group has-validation mt-2">
            <span class="input-group-text bg-dark text-light me-2"><i class="fas fa-lock fa-fw"></i></span>
            <input
              type="password"
              class="form-control"
              [ngClass]="{
              'is-invalid': passwordFormControl.dirty && passwordFormControl.invalid,
              'is-valid': passwordFormControl.dirty && !passwordFormControl.invalid
              }"
              placeholder="Password"
              aria-label="password"
              formControlName="password"
              required
              #passwordInput
            >
            <button
              type="button"
              (click)="passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password'"
              class="btn btn-dark btn-sm ms-2">
              <i class="fas fa-fw"
                 [ngClass]="{
                    'fa-eye-slash': passwordInput.type === 'password',
                    'fa-eye': passwordInput.type === 'text'
                 }"
              ></i>
            </button>
            <div
              *ngIf="passwordFormControl.invalid && passwordFormControl.dirty && passwordFormControl.errors.required"
              class="invalid-feedback mb-0 mt-01">
              Password is required
            </div>
            <div
              *ngIf="passwordFormControl.invalid && passwordFormControl.dirty && passwordFormControl.errors.minlength"
              class="invalid-feedback mb-0 mt-01">
              Password must have at least 5 characters
            </div>
          </div>
        </div>

        <div class="text-start">
          <div class="input-group has-validation mt-2">
            <span class="input-group-text bg-dark text-light me-2"><i class="fas fa-at fa-fw"></i></span>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
              'is-invalid': emailFormControl.dirty && emailFormControl.invalid,
              'is-valid': emailFormControl.dirty && !emailFormControl.invalid
              }"
              placeholder="Email"
              aria-label="email"
              formControlName="email"
              required
            >
            <div
              *ngIf="emailFormControl.invalid && emailFormControl.dirty && emailFormControl.errors.required"
              class="invalid-feedback mb-0 mt-01">
              Email is required
            </div>
            <div
              *ngIf="emailFormControl.invalid && emailFormControl.dirty && emailFormControl.errors.pattern"
              class="invalid-feedback mb-0 mt-01">
              Invalid email format
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-8">
            <button class="w-100 btn btn-dark" type="submit">Sign Up</button>
          </div>
          <div class="col-4">
            <button class="w-100 btn btn-outline-dark" [routerLink]="'/login'" type="submit">Log In</button>
          </div>
        </div>

      </div>
    </form>

  </div>
</div>
