/* You can add global styles to this file, and also import other style files */

@import "~ngx-toastr/toastr.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
}

button:focus, button:hover {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(33, 37, 41, .7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #696868;
}

a, a:focus, a:hover {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.icon-tilt:hover {
  transform: rotate(20deg);
}

.text-info-hover:hover {
  color: var(--bs-info) !important;
}

.text-light-hover:hover {
  color: var(--bs-light) !important;
}

.text-danger-hover:hover {
  color: var(--bs-danger) !important;
}

.text-primary-hover:hover {
  color: var(--bs-primary) !important;
}

.text-ellip {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

[tooltip] {
  position: relative;
}

[tooltip]:hover::after {
  content: attr(tooltip);
  position: absolute;
  font-size: .8em;
  z-index: 9999;
  width: fit-content;
  height: fit-content;
  white-space: pre;
  padding: 4px 8px;
  border-radius: .25rem;
  background-color: var(--bs-secondary);
  color: var(--bs-light);
  font-family: var(--bs-font-sans-serif);
}

[tooltip][tooltip-pos="top-right"]:hover::after {
  bottom: 150%;
  left: 10px;
}

[tooltip][tooltip-pos="bottom-right"]:hover::after {
  top: 150%;
  left: 10px;
}

[tooltip][tooltip-pos="top-left"]:hover::after {
  bottom: 150%;
  right: 10px;
}

[tooltip][tooltip-pos="bottom-left"]:hover::after {
  top: 150%;
  right: 10px;
}

[tooltip][tooltip-pos="right"]:hover::after {
  left: 30px;
}

[tooltip][tooltip-pos="left"]:hover::after {
  right: 30px;
}


/*--bs-blue: #0d6efd;*/
/*--bs-indigo: #6610f2;*/
/*--bs-purple: #6f42c1;*/
/*--bs-pink: #d63384;*/
/*--bs-red: #dc3545;*/
/*--bs-orange: #fd7e14;*/
/*--bs-yellow: #ffc107;*/
/*--bs-green: #198754;*/
/*--bs-teal: #20c997;*/
/*--bs-cyan: #0dcaf0;*/
/*--bs-white: #fff;*/
/*--bs-gray: #6c757d;*/
/*--bs-gray-dark: #343a40;*/
/*--bs-primary: #0d6efd;*/
/*--bs-secondary: #6c757d;*/
/*--bs-success: #198754;*/
/*--bs-info: #0dcaf0;*/
/*--bs-warning: #ffc107;*/
/*--bs-danger: #dc3545;*/
/*--bs-light: #f8f9fa;*/
/*--bs-dark: #212529;*/
