/* You can add global styles to this file, and also import other style files */

@import "~ngx-toastr/toastr.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
}

button:focus, button:hover {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(33, 37, 41, .7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #696868;
}

a, a:focus, a:hover {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
