.sidebar.collapse {
  position: relative;
  width: 68px;
  height: 100%;
  display: block;
}

.sidebar.collapse.show {
  width: 200px;
}

a {
  border: 3px solid transparent;
}

.nav-link {
  color: #ffffff8c;
}

.nav-link:hover {
  color: white;
}

a.active {
  border-left: 3px solid white;
  color: white;
}
