<div
  class="d-flex flex-column collapse bg-dark sidebar"
  [ngClass]="{ 'show': sidebarIsOpen }"
>
  <ul class="navbar-nav pt-2 mb-auto">
    <li class="nav-item">
      <a
        class="nav-link px-3"
        [routerLink]="'/home/table'"
        [routerLinkActive]="'active'"
      >
        <i [ngClass]="{'fa-lg': !sidebarIsOpen}" class="fas fa-table fa-fw me-2"></i>
        <p *ngIf="sidebarIsOpen" class="d-inline">Table</p>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link px-3"
        [routerLink]="'/home/board'"
        [routerLinkActive]="'active'"
      >
        <i [ngClass]="{'fa-lg': !sidebarIsOpen}" class="fas fa-columns fa-fw me-2"></i>
        <p *ngIf="sidebarIsOpen" class="d-inline">Board</p>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link px-3"
        [routerLink]="'/home/statistics'"
        [routerLinkActive]="'active'"
      >
        <i [ngClass]="{'fa-lg': !sidebarIsOpen}" class="fas fa-chart-line fa-fw me-2"></i>
        <p *ngIf="sidebarIsOpen" class="d-inline">Statistics</p>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link px-3"
        [routerLink]="'/home/calendar'"
        [routerLinkActive]="'active'"
      >
        <i [ngClass]="{'fa-lg': !sidebarIsOpen}" class="fas fa-calendar-alt fa-fw me-2"></i>
        <p *ngIf="sidebarIsOpen" class="d-inline">Calendar</p>
      </a>
    </li>
  </ul>

  <div
    class="py-2 text-center btn-outline-secondary"
    style="cursor: pointer"
    (click)="toggleSidebar()"
  >
    <i class="fas fa-fw fa-lg fa-angle-double-{{sidebarIsOpen ? 'left' : 'right'}}"></i>
    <span *ngIf="sidebarIsOpen" class="ms-2">Collapse sidebar</span>
  </div>
</div>
